* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.main {
    width: 90%;
    margin: auto;
}

.userdata {
    margin: 20px 0;
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
}
.map {
    display: inline-block;
    width:50%;
    margin-left: 50%;
    transform: translateX(-50%);
}

input[type="submit"] {
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #ffbf00;
    cursor: pointer;
    width: 150px;
}

input[type="submit"]:hover {
    background-color: #ff8000;
}